name: Release

on:
  push:
    tags:
      - "*"

jobs:
  ubuntu-build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true